@use "../../styles/variables.scss" as *;

.local-mindmap,
.global-mindmap {
  .markmap {
    cursor: grab;

    g.markmap-node {
      pointer-events: all;
      color: var(--darkgray);

      pre {
        padding: 0;
        position: static;
      }

      & span {
        position: static;

        .katex-html {
          display: none;
        }
      }

      code {
        border-radius: 3px;
        padding: 0;
      }

      img {
        margin-top: 1em;
        margin-bottom: 0;
      }

      blockquote {
        max-width: 640px;
        width: auto;
        margin-bottom: .1em;

        .callout-content {
          padding-bottom: .5em;
        }
      }

      text,
      foreignObject,
      foreignObject * {
        user-select: none !important;
        -webkit-user-select: none !important;
        pointer-events: none !important;
      }

      foreignObject {

        a,
        img,
        video,
        audio,
        iframe {
          pointer-events: auto !important;
          user-select: text !important;

          .external-icon {
            margin: 0 !important;
            padding: 0 !important;
          }
        }
      }
    }
  }

  .mindmap-toolbar {
    position: absolute;
    top: 10;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    color: var(--tertiary);
    padding: 0 0.5rem;
    border-radius: 10px;
    background-color: var(--light);
    box-shadow: 0 0 4px var(--darkgray);

    .mm-toolbar-brand {
      display: none;
    }

    .mm-toolbar {
      display: flex !important;
      flex-direction: row !important;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;

      .mm-toolbar-item {
        cursor: pointer;
        display: flex;

        & svg {
          justify-content: center;
          align-items: center;
        }
      }

      .active {
        filter: drop-shadow(0 0 0 currentColor) drop-shadow(0 0 2px currentColor);
      }

      .hide {
        display: none;
      }
    }

    button {
      pointer-events: auto;
    }
  }
}


.local-mindmap {
  &>h3 {
    font-size: 1rem;
    margin: 0;
  }

  &>.mindmap-outer {
    border-radius: 5px;
    border: 1px solid var(--lightgray);
    box-sizing: border-box;
    height: 250px;
    margin: 0.5em 0;
    position: relative;
    overflow: hidden;

    .mindmap-container {
      width: 100%;
      height: 100%;

    }

    &>.mindmap-icon {
      cursor: pointer;
      background: none;
      border: none;
      color: var(--dark);
      opacity: 0.5;
      width: 24px;
      height: 24px;
      position: absolute;
      padding: 0.2rem;
      margin: 0.3rem;
      top: 0;
      right: 0;
      border-radius: 4px;
      background-color: transparent;
      transition: background-color 0.5s ease;

      svg {
        position: absolute;
        transform: translate(-50%, -50%) rotate(270deg);
      }

      &:hover {
        background-color: var(--lightgray);
      }
    }
  }
}


.global-mindmap {
  &>.global-mindmap-outer {
    position: fixed;
    z-index: 500;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    backdrop-filter: blur(4px);
    display: none;
    overflow: hidden;

    &.active {
      display: inline-block;
    }

    &>.global-mindmap-container {
      border: 1px solid var(--lightgray);
      background-color: var(--light);
      border-radius: 5px;
      box-sizing: border-box;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 80vh;
      width: 80vw;

      @media all and not ($desktop) {
        width: 90%;
      }

      &.fullscreen {
        top: 0;
        left: 0;
        transform: none;
        width: 100vw;
        height: 100vh;
      }
    }
  }
}


.mindmap-button {
  .mindmap-icon {
    cursor: pointer;
    padding: 0;
    position: relative;
    background: none;
    border: none;
    width: 20px;
    height: 20px;
    text-align: inherit;
    flex-shrink: 0;
    display: flex;

    & svg {
      position: absolute;
      width: 20px;
      height: 20px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(270deg);
      fill: var(--darkgray);
      stroke: var(--darkgray);
      transition: opacity 0.1s ease;
    }
  }
}
